
  <span class="glyphicon glyphicon-user"></span> 
  <h3 class="text-center mt-5 mb-1">SICOP - Sistema de controle de estoque</h3>

  <div class="login-form mt-1">    
    <form action="/examples/actions/confirmation.php" method="post">
		<div class="avatar"><i class="fa fa-user" aria-hidden="true"></i></div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Login" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Senha" required="required">
        </div>
        <div class="form-group small clearfix">
            <a href="#" class="forgot-link">Esqueceu sua senha?</a>
        </div> 
        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Entrar">              
    </form>
</div> 


